<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Application</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

    <!--navbar-->
    <header class="p-3 text-bg-dark">
      <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                  <img src="{%static 'doc icon.png'%}" height="50px" weight="50px" alt="">
              </a>

              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                  <li><a href="#" class="nav-link px-2 text-white">About</a></li>
              </ul>

              <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
                      aria-label="Search">
              </form>

              <div class="text-end">
                  <a href="#"><button type="button" class="btn btn-outline-light me-2">{{email}}</button></a>
                  <a href="{% url 'index' %}"><button type="button" class="btn btn-warning">Sign-out</button></a>
              </div>
          </div>
      </div>
  </header>



      
    <!--appointment form-->

    <div class="container">
      <div class="row">
          <div class="col-6">
              <img src="../static/form.webp"img-fluid " height="450px" width="600px" alt="">
          </div>
          <div class="col-6 mt-5">

              <form action="{% url 'appointment'  %}" method="post" class="card p-3 shadow-lg">
                  {% csrf_token %}
                  <h3>Apppointment Form</h3>
                  <hr>
                  <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Doctor Name</label>
                      <input type="text" name="doctor" class="form-control" id="exampleInputEmail1">

                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Patient Name</label>
                      <input type="text" name="patient" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Email Address</label>
                      <input type="text" name="email" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Contact</label>
                      <input type="text" name="contact" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Date & Time</label>
                      <input type="datetime-local" name="date_time" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Symptoms Description</label>
                      <textarea name="symptoms" class="form-control " name="symptoms" id=""></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>
      </div>
  </div>




    <!--footer-->

      <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
          </ul>
          <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
        </footer>
      </div>



    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

